{% extends "base/_base.html" %}
{% load static %}

{% block content %}
<div class="max-w-md mx-auto py-8 px-4">
  <h1 class="text-4xl font-bold mb-6 text-stone-100">Профіль {{ profile_user.username }}</h1>

    {% if profile_user.avatar %}
        <img src="{{ profile_user.avatar.url }}" alt="Фото профілю"
             class="w-36 h-36 rounded-full object-cover shadow-md border border-gray-300 dark:border-gray-600">
      {% else %}
        <img src="{% static 'images/default-avatar.png' %}" alt="Фото профілю"
             class="w-36 h-36 rounded-full object-cover shadow-md border border-gray-300 dark:border-gray-600">
      {% endif %}

  <p class="mb-2 text-stone-300"><strong>Електронна пошта:</strong> {{ profile_user.email }}</p>
  <p class="mb-2 text-stone-300"><strong>Стать:</strong> {{ profile_user.gender }}</p>
  <p class="mb-6 text-stone-300"><strong>Дата народження:</strong> {{ profile_user.birth_date }}</p>

  <p class="mb-2 text-stone-300"><strong>Друзів:</strong> {{ friends_count }}</p>
  <p class="mb-2 text-stone-300"><strong>Підписників:</strong> {{ followers_count }}</p>
  <p class="mb-6 text-stone-300"><strong>Підписок:</strong> {{ following_count }}</p>

  {% if user.is_authenticated and user != profile_user %}
    {% if profile_user.id in user_subscriptions %}
      <form method="post" action="{% url 'unsubscribe' profile_user.id %}">
        {% csrf_token %}
        <button type="submit"
                class="bg-red-600 hover:bg-red-700 text-white px-5 py-2 rounded-md font-semibold transition">
          Відписатися
        </button>
      </form>
    {% else %}
      <form method="post" action="{% url 'subscribe' profile_user.id %}">
        {% csrf_token %}
        <button type="submit"
                class="bg-indigo-600 hover:bg-indigo-700 text-white px-5 py-2 rounded-md font-semibold transition">
          Підписатися
        </button>
         <a href="{% url 'friends_request' profile_user.id %}"
           class="bg-yellow-600 hover:bg-yellow-700 text-white px-5 py-2 rounded-md font-semibold transition">
            Відправити запит на дружбу
        </a>
      </form>



    {% endif %}
  {% endif %}
</div>
{% endblock %}
