{% extends "base/_base.html" %}

{% block title %}Ваши чаты{% endblock %}

{% block content %}
<div class="max-w-3xl mx-auto py-8">
    <h1 class="text-3xl font-semibold mb-6 text-stone-100">Ваши чаты</h1>
    <ul class="space-y-3">
        {% for room in rooms %}
            <li>
                <a href="{% url 'chat:room_detail' room.name %}"
                   class="text-indigo-400 hover:underline text-lg font-medium">
                    Чат с
                    {% for user in room.participants.all %}
                        {% if user != request.user %}
                            {{ user.username }}
                        {% endif %}
                    {% endfor %}
                </a>
            </li>
        {% empty %}
            <li class="text-stone-400 italic">У вас нет чатов</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
