{% extends "base/_base.html" %}
{% load static %}

{% block head %}
        <meta charset="UTF-8" />
        <title>Мой сайт</title>
        <script src="{% static 'js/main.js' %}"></script>
{% endblock %}

        {% block content %}
        <h1>Останні пости з ваших спільнот</h1>

        {% if posts %}
          <ul>
            {% for post in posts %}
              <li class="mb-4">
                <strong>{{ post.community.name }}</strong><br>
                {{ post.content }}<br>
                <small>Автор: {{ post.community }} | {{ post.created_at|date:"d.m.Y H:i" }}</small>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>Немає постів. Приєднайтесь до спільнот, щоб бачити оновлення.</p>
        {% endif %}

            <button id="subscribe-btn">Подписаться</button>
            <script>
            document
                .getElementById("subscribe-btn")
                .addEventListener("click", () => {
                    Notification.requestPermission().then((result) => {
                        if (result === "granted") {
                            console.log("Разрешение получено");
                            // здесь можно подписываться на пуши
                        } else {
                            console.log("Разрешение отклонено");
                        }
                    });
                });
        </script>


        {% endblock %}
</html>
