{% extends "base/_base.html" %}
{% load static %}

{% block head %}
    <meta charset="UTF-8" />
    <title>Мой сайт</title>
{% endblock %}


{% block content %}

<div class="max-w-3xl mx-auto p-6 min-h-screen text-white">
    <h1 class="text-3xl font-bold mb-6 text-left">Останні пости з ваших спільнот</h1>

    {% if posts %}
      <ul class="space-y-6">
        {% for post in posts %}
          <li class="bg-neutral-900 rounded-xl shadow p-4 text-left">
            <div class="text-sm text-gray-400 font-semibold">
              {{ post.community.name }}
            </div>
            <p class="mt-2 text-gray-100">
              {{ post.content }}
            </p>
            <div class="mt-4 text-sm text-gray-500">
              Спільнота: {{ post.community }} | {{ post.created_at|date:"d.m.Y H:i" }}
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="text-left text-gray-500">Немає постів. Приєднайтесь до спільнот, щоб бачити оновлення.</p>
    {% endif %}




</div>
{% endblock %}
