{% load static %}
<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <title>Мой сайт</title>
    </head>
    <body>
        <button id="subscribe-btn">Подписаться</button>
        <script>
            document
                .getElementById("subscribe-btn")
                .addEventListener("click", () => {
                    Notification.requestPermission().then((result) => {
                        if (result === "granted") {
                            console.log("Разрешение получено");
                            // здесь можно подписываться на пуши
                        } else {
                            console.log("Разрешение отклонено");
                        }
                    });
                });
        </script>

        <!-- Подключаем скрипт -->
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
